
.tiddler-title,
.tiddler-body {
	cursor: pointer; 
}

body,
.tiddler-body {
	padding: 1em;
	margin: 1em;
	border: thin solid black;
}

.info {
    font-size: 80%;
}

.visited {
	color: #aa0000;
}

.visited div {
	color: black;
}
